@charset "UTF-8";
body {
  font-family: "Arial", sans-serif;
  margin: 0;
}

section {
  padding-left: 210px;
  padding-right: 30px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

/* TDB - GRAPHISTE */
header {
  background-color: #1F00FF;
  position: fixed;
  height: 100%;
  top: 0;
  width: 210px;
  z-index: 3;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

header .logo {
  text-align: center;
}

header .logo svg {
  width: 100px;
}

header .menu li {
  padding: 15px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  width: 100%;
  position: relative;
  z-index: 1;
  background-color: #1F00FF;
}

header .menu li svg {
  position: absolute;
  width: 20px;
  right: 0;
}

header .menu li svg:first-child {
  top: -20px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

header .menu li svg:last-child {
  bottom: -20px;
}

header .menu li svg .st0 {
  fill: blue;
}

header .menu li.active {
  background-color: #F5F6FA;
  z-index: 2;
}

header .menu li.active svg .st0 {
  fill: #F5F6FA;
}

header .menu li.active a {
  color: #1F00FF;
}

header .menu li.active a .white {
  display: none;
}

header .menu li.active a .blue {
  display: block;
}

header .menu li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 14px;
  color: #fff;
}

header .menu li a img {
  margin-right: 10px;
}

header .menu li a .white {
  display: block;
}

header .menu li a .blue {
  display: none;
}

header .menu li a p {
  margin: 0;
}

header .assistance {
  position: absolute;
  bottom: 0;
  text-align: center;
  left: 0;
  right: 0;
}

header .assistance p {
  color: #fff;
}

#search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
  width: 100%;
  right: 0;
  top: 0;
  position: fixed;
  z-index: 2;
  background-color: #fff;
}

#search .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 250px;
}

#search .search input {
  border: none;
  padding-left: 10px;
}

#search .search input::-webkit-input-placeholder {
  color: #A6ACBE;
  letter-spacing: 0.5px;
}

#search .search input:-ms-input-placeholder {
  color: #A6ACBE;
  letter-spacing: 0.5px;
}

#search .search input::-ms-input-placeholder {
  color: #A6ACBE;
  letter-spacing: 0.5px;
}

#search .search input::placeholder {
  color: #A6ACBE;
  letter-spacing: 0.5px;
}

#search .connexion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 20px;
}

#search .connexion .account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-right: 1px solid #F5F6FA;
}

#search .connexion .account .text, #search .connexion .account img {
  margin-right: 20px;
  text-align: right;
}

#search .connexion .account .text .name, #search .connexion .account img .name {
  font-size: 14px;
  font-weight: 400;
}

#search .connexion .account .text .job, #search .connexion .account img .job {
  color: #A6ACBE;
  font-size: 12px;
}

#search .connexion .notifications {
  padding-left: 20px;
}

#yourContent {
  background-color: #F5F6FA;
  padding-top: 110px;
  height: 100%;
  position: relative;
}

#yourContent .bgImg {
  position: absolute;
  bottom: 0;
  right: -100px;
  opacity: 0.2;
}

#yourContent .content {
  padding-left: 50px;
}

#yourContent .content h1 {
  font-family: "Arial", sans-serif;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 30px;
}

#yourContent .content .yourCard {
  background-color: white;
  border-radius: 25px;
  padding: 15px;
  margin-bottom: 30px;
}

#yourContent .content .yourCard .img {
  background-color: #D1FFF0;
  border-radius: 20px;
  position: relative;
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

#yourContent .content .yourCard .img img {
  width: 100px;
}

#yourContent .content .yourCard .img .save {
  position: absolute;
  right: 15px;
  top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

#yourContent .content .yourCard .img .save .blackSave {
  display: block;
  background-color: white;
  padding: 3px 6px;
  border-radius: 6px;
  margin-right: 5px;
  width: 25px;
}

#yourContent .content .yourCard .img .save .whiteSave {
  display: none;
}

#yourContent .content .yourCard .img .save .eye {
  background-color: white;
  padding: 7px 5px;
  border-radius: 5px;
  width: 25px;
  cursor: pointer;
}

#yourContent .content .yourCard .img .save.active .blackSave {
  display: none;
}

#yourContent .content .yourCard .img .save.active .whiteSave {
  display: block;
  background-color: #1F00FF;
  padding: 3px 6px;
  border-radius: 6px;
  margin-right: 5px;
  width: 25px;
}

#yourContent .content .yourCard h3 {
  padding-left: 5px;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.5px;
  font-weight: 600;
}

#yourContent .content .yourCard p {
  font-size: 13px;
  padding-left: 5px;
  letter-spacing: 0.25px;
  line-height: 18px;
  margin-bottom: 0;
}

#yourHome {
  background-color: #F5F6FA;
  padding-top: 110px;
  height: 100%;
  position: relative;
}

#yourHome .home {
  padding-left: 40px;
}

#yourHome .home .wallet {
  margin-bottom: 40px;
}

#yourHome .home .wallet h1 {
  font-size: 24px;
  margin-bottom: 30px;
}

#yourHome .home .wallet .myCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#yourHome .home .wallet .blueCard {
  background-color: #1F00FF;
  border-radius: 30px;
  padding: 30px;
  color: #fff;
}

#yourHome .home .wallet .blueCard .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 20px;
}

#yourHome .home .wallet .blueCard .price p {
  font-size: 50px;
  margin-bottom: 0;
  line-height: 46px;
  font-weight: 600;
  letter-spacing: 1px;
}

#yourHome .home .wallet .blueCard .price .percentage {
  background-color: #33D69F;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  line-height: inherit;
  margin-left: 20px;
}

#yourHome .home .wallet .blueCard .myWallet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 20px;
}

#yourHome .home .wallet .blueCard .myWallet .elements p {
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

#yourHome .home .wallet .blueCard .myWallet .elements p:last-child {
  font-size: 13px;
}

#yourHome .home .wallet .blueCard .myWallet .line {
  background-color: #fff;
  height: 40px;
  width: 1px;
  opacity: 0.7;
}

#yourHome .home .wallet .blueCard .cta a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#yourHome .home .wallet .blueCard .cta .first {
  background-color: #fff;
  padding: 7px 20px;
  border-radius: 5px;
  border: 1px solid #fff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  margin-bottom: 10px;
}

#yourHome .home .wallet .blueCard .cta .first:hover {
  background-color: inherit;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

#yourHome .home .wallet .blueCard .cta .first:hover .white {
  display: block;
}

#yourHome .home .wallet .blueCard .cta .first:hover .blue {
  display: none;
}

#yourHome .home .wallet .blueCard .cta .first:hover p {
  color: #fff;
}

#yourHome .home .wallet .blueCard .cta .first .white {
  display: none;
}

#yourHome .home .wallet .blueCard .cta .first .blue {
  display: block;
}

#yourHome .home .wallet .blueCard .cta .first img {
  width: 30px;
  margin-right: 20px;
}

#yourHome .home .wallet .blueCard .cta .first p {
  margin-bottom: 0;
  line-height: 14px;
  font-size: 13px;
  max-width: 120px;
  color: #1F00FF;
  font-weight: 600;
  letter-spacing: 0.5px;
}

#yourHome .home .wallet .blueCard .cta .second {
  border: 1px solid #fff;
  padding: 7px 20px;
  border-radius: 5px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

#yourHome .home .wallet .blueCard .cta .second:hover {
  background-color: #fff;
}

#yourHome .home .wallet .blueCard .cta .second:hover .blue {
  display: block;
  width: 28px;
}

#yourHome .home .wallet .blueCard .cta .second:hover .white {
  display: none;
}

#yourHome .home .wallet .blueCard .cta .second:hover p {
  color: #1F00FF;
}

#yourHome .home .wallet .blueCard .cta .second .blue {
  display: none;
}

#yourHome .home .wallet .blueCard .cta .second .white {
  display: block;
}

#yourHome .home .wallet .blueCard .cta .second img {
  width: 30px;
  margin-right: 20px;
}

#yourHome .home .wallet .blueCard .cta .second p {
  margin-bottom: 0;
  line-height: 14px;
  font-size: 13px;
  max-width: 120px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.5px;
}

#yourHome .home .wallet .col-pinkCard {
  padding: 0;
}

#yourHome .home .wallet .pinkCard {
  background-color: #FF9CE2;
  border-radius: 20px;
  padding: 15px;
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#yourHome .home .wallet .pinkCard .title {
  font-size: 14px;
  font-weight: 600;
  color: white;
  line-height: 17px;
}

#yourHome .home .wallet .pinkCard .number {
  text-align: center;
  font-weight: 600;
  color: white;
  font-size: 70px;
}

#yourHome .home .wallet .pinkCard .cta {
  text-align: center;
  position: relative;
  z-index: 1;
}

#yourHome .home .wallet .pinkCard .cta a {
  background-color: white;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 5px;
  color: #000;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
  border: 1px solid #fff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

#yourHome .home .wallet .pinkCard .cta a:hover {
  background-color: inherit;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  color: #fff;
}

#yourHome .home .wallet .pinkCard .circle {
  position: absolute;
  top: 70px;
  left: 10px;
  width: 60px;
}

#yourHome .home .wallet .pinkCard .vague {
  position: absolute;
  top: 20px;
  right: -30px;
  width: 110px;
}

#yourHome .home .wallet .pinkCard .polygone {
  position: absolute;
  bottom: -20px;
  left: -10px;
  width: 90px;
}

#yourHome .home .wallet .pinkCard .sphere {
  position: absolute;
  width: 60px;
  bottom: 80px;
  right: 0;
}

#yourHome .home .myProjects {
  position: relative;
  margin-bottom: 50px;
}

#yourHome .home .myProjects p {
  position: absolute;
  right: 15px;
  top: 63px;
  font-size: 13px;
  color: #A6ACBE;
  font-weight: 200;
  cursor: pointer;
}

#yourHome .home .myProjects h2 {
  font-size: 24px;
  margin-bottom: 30px;
}

#yourHome .home .myProjects table {
  background-color: #fff;
  border-radius: 20px;
  width: 100%;
}

#yourHome .home .myProjects table tr td {
  font-size: 14px;
  padding: 5px 0;
}

#yourHome .home .myProjects table tr td:first-child {
  padding-left: 20px;
}

#yourHome .home .myProjects table tr td.state::before {
  content: "•";
  padding-right: 5px;
}

#yourHome .home .myProjects table tr td.state.valide::before {
  color: green;
}

#yourHome .home .myProjects table tr td.state.enCours::before {
  color: orange;
}

#yourHome .home .myProjects table tr td.state.wait::before {
  color: purple;
}

#yourHome .home .myProjects table tr td.state.modif::before {
  color: red;
}

#yourHome .home .myProjects table tr.grey {
  background-color: #F8F9FF;
}

#yourHome .home .myProjects table .title td {
  font-weight: 600;
  width: 30%;
}

#yourHome .secondColumn h2 {
  font-size: 24px;
  margin-bottom: 30px;
}

#yourHome .secondColumn .pourVous {
  margin-bottom: 52px;
}

#yourHome .secondColumn .pourVous .col-yourCard {
  padding: 0 5px;
}

#yourHome .secondColumn .pourVous .yourCard {
  background-color: white;
  border-radius: 25px;
  padding: 15px;
  margin-bottom: 30px;
  height: 100%;
}

#yourHome .secondColumn .pourVous .yourCard .img {
  background-color: #D1FFF0;
  border-radius: 20px;
  position: relative;
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

#yourHome .secondColumn .pourVous .yourCard .img img {
  width: 100px;
}

#yourHome .secondColumn .pourVous .yourCard .img .save {
  position: absolute;
  right: 15px;
  top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

#yourHome .secondColumn .pourVous .yourCard .img .save .blackSave {
  display: block;
  background-color: white;
  padding: 3px 6px;
  border-radius: 6px;
  margin-right: 5px;
  width: 25px;
}

#yourHome .secondColumn .pourVous .yourCard .img .save .whiteSave {
  display: none;
}

#yourHome .secondColumn .pourVous .yourCard .img .save .eye {
  background-color: white;
  padding: 7px 5px;
  border-radius: 5px;
  width: 25px;
  cursor: pointer;
}

#yourHome .secondColumn .pourVous .yourCard .img .save.active .blackSave {
  display: none;
}

#yourHome .secondColumn .pourVous .yourCard .img .save.active .whiteSave {
  display: block;
  background-color: #1F00FF;
  padding: 3px 6px;
  border-radius: 6px;
  margin-right: 5px;
  width: 25px;
}

#yourHome .secondColumn .pourVous .yourCard h3 {
  padding-left: 5px;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.5px;
  font-weight: 600;
}

#yourHome .secondColumn .pourVous .yourCard p {
  font-size: 13px;
  padding-left: 5px;
  letter-spacing: 0.25px;
  line-height: 18px;
  margin-bottom: 0;
}

#yourHome .secondColumn .actus .contentActu .ownActu {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
}

#yourHome .secondColumn .actus .contentActu .ownActu .carre {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin-right: 20px;
}

#yourHome .secondColumn .actus .contentActu .ownActu .carre.green {
  background-color: #33D69F;
}

#yourHome .secondColumn .actus .contentActu .ownActu .carre.yellow {
  background-color: #FFF495;
}

#yourHome .secondColumn .actus .contentActu .ownActu .carre.purple {
  background-color: #DED7FF;
}

#yourHome .secondColumn .actus .contentActu .ownActu .text h6 {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.25px;
  margin-bottom: 3px;
}

#yourHome .secondColumn .actus .contentActu .ownActu .text p {
  font-size: 12px;
  letter-spacing: 0.75px;
  margin-bottom: 0;
}
/*# sourceMappingURL=style.css.map */