// Variables

$font: 'Arial', sans-serif;


$blue: #1F00FF;
$blueLight: #F8F9FF;
$pink: #F9D7EF;
$pinkDark: #FF9CE2;
$greyLight: #F5F6FA;
$grey: #A6ACBE;
$green: #D1FFF0;
$greenDark: #33D69F;
$yellow: #FFF495;
$purple: #DED7FF;

// Général

body {
    font-family: $font;
    margin: 0;
}

section {
    padding-left: 210px;
    padding-right: 30px;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

li {
    list-style: none;
}

/* TDB - GRAPHISTE */

header {
    background-color: $blue;
    position: fixed;
    height: 100%;
    top: 0;
    width: 210px;
    z-index: 3;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    .logo {
        text-align: center;
        svg {
            width: 100px;
        }
    }
    .menu {
        li {
            padding: 15px;
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
            width: 100%;
            position: relative;
            z-index: 1;
            background-color: $blue;
            svg{
                position: absolute;
                width: 20px;
                right: 0;
                &:first-child{
                    top: -20px;
                    transform: rotate(90deg);
                }
                &:last-child{
                    bottom: -20px;
                }
                .st0{
                    fill: blue;
                }
            }   
            &.active {
                background-color: $greyLight;
                z-index: 2;
                svg{
                    .st0{
                        fill: $greyLight;
                    }
                }
                a {
                    color: $blue;
                    .white {
                        display: none;
                    }
                    .blue {
                        display: block;
                    }
                }
            }
            a {
                display: flex;
                align-items: center;
                text-transform: uppercase;
                font-weight: 600;
                letter-spacing: 0.5px;
                font-size: 14px;
                color: #fff;
                img {
                    margin-right: 10px;
                }
                .white {
                    display: block;
                }
                .blue {
                    display: none;
                }
                p {
                    margin: 0;
                }
            }
        }
    }
    .assistance {
        position: absolute;
        bottom: 0;
        text-align: center;
        left: 0;
        right: 0;
        p {
            color: #fff;
        }
    }
}

#search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    width: 100%;
    right: 0;
    top: 0;
    position: fixed;
    z-index: 2;
    background-color: #fff;
    .search {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-left: 250px;
        input {
            border: none;
            padding-left: 10px;
            
            &::placeholder {
                color: $grey;
                letter-spacing: 0.5px;
            }
        }
    }
    .connexion {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 20px;
        .account {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-right: 1px solid $greyLight;
            .text, img {
                margin-right: 20px;
                text-align: right;
                .name {
                    font-size: 14px;
                    font-weight: 400;
                }
                .job {
                    color: $grey;
                    font-size: 12px;
                }
            }
        }
        .notifications {
            padding-left: 20px;
        }
    }
}

#yourContent {
    background-color: $greyLight;
    padding-top: 110px;
    height: 100%;
    position: relative;
    .bgImg {
        position: absolute;
        bottom: 0;
        right: -100px;
        opacity: 0.2;
    }
    .content {
        padding-left: 50px;
        h1 {
            font-family: $font;
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 30px;
        }
        .yourCard {
            background-color: white;
            border-radius: 25px;
            padding: 15px;
            margin-bottom: 30px;
            .img {
                background-color: $green;
                border-radius: 20px;
                position: relative;
                height: 130px;
                display: flex;
                justify-content: center;
                margin-bottom: 10px;
                img {
                    width: 100px;
                }
                .save {
                    position: absolute;
                    right: 15px;
                    top: 12px;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    .blackSave {
                        display: block;
                        background-color: white;
                        padding: 3px 6px;
                        border-radius: 6px;
                        margin-right: 5px;
                        width: 25px;
                    }
                    .whiteSave {
                        display: none;
                    }
                    .eye {
                        background-color: white;
                        padding: 7px 5px;
                        border-radius: 5px;
                        width: 25px;
                        cursor: pointer;
                    }
                    &.active {
                        .blackSave {
                            display: none;
                        }
                        .whiteSave {
                            display: block;
                            background-color: $blue;
                            padding: 3px 6px;
                            border-radius: 6px;
                            margin-right: 5px;
                            width: 25px;
                        }
                    }
                }
            }
            h3 {
                padding-left: 5px;
                text-transform: uppercase;
                font-size: 13px;
                letter-spacing: 0.5px;
                font-weight: 600;
            }
            p {
                font-size: 13px;
                padding-left: 5px;
                letter-spacing: 0.25px;
                line-height: 18px;
                margin-bottom: 0;
            }
        }
    }
}

#yourHome {
    background-color: $greyLight;
    padding-top: 110px;
    height: 100%;
    position: relative;
    .bgImg {
        position: absolute;
        bottom: 0;
        right: -100px;
        opacity: 0.2;
    }
    .home {
        padding-left: 40px;
        .wallet {
            margin-bottom: 40px;
            h1 {
                font-size: 24px;
                margin-bottom: 30px;
            }
            .myCards {
                display: flex;
            }
            .blueCard {
                background-color: $blue;
                border-radius: 30px;
                padding: 30px;
                color: #fff;
                .price {
                    display: flex;
                    align-items: flex-end;
                    margin-bottom: 20px;
                    p  {
                        font-size: 50px;
                        margin-bottom: 0;
                        line-height: 46px;
                        font-weight: 600;
                        letter-spacing: 1px;
                    }
                    .percentage {
                        background-color: $greenDark;
                        padding: 5px 10px;
                        border-radius: 5px;
                        font-size: 12px;
                        line-height: inherit;
                        margin-left: 20px;
                    }

                }
                .myWallet {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    margin-bottom: 20px;
                    
                    .elements {
                        
                        p {
                            font-weight: 600;
                            font-size: 11px;
                            letter-spacing: 1px;
                            margin-bottom: 5px;
                            &:last-child {
                                font-size: 13px;
                            }
                        }
                    }
                    .line {
                        background-color: #fff;
                        height: 40px;
                        width: 1px;
                        opacity: 0.7;
                    }
                }
                .cta {
                    a {
                        display: inline-flex;
                    }
                    .first {
                        background-color: #fff;
                        padding: 7px 20px;
                        border-radius: 5px;
                        border: 1px solid #fff;
                        transition: 0.3s ease;
                        margin-bottom: 10px;
                        &:hover {
                            background-color: inherit;
                            transition: 0.3s ease;
                            
                            .white {
                                display: block;
                            }
                            .blue {
                                display: none;
                            }
                            p {
                                color: #fff;
                            }
                        }
                        
                        .white {
                            display: none;
                        }
                        .blue {
                            display: block;
                        }
                        img {
                            width: 30px;
                            margin-right: 20px;
                        }
                        p {
                            margin-bottom: 0;
                            line-height: 14px;
                            font-size: 13px;
                            max-width: 120px;
                            color: $blue;
                            font-weight: 600;
                            letter-spacing: 0.5px;

                        }
                        
                    }
                    .second {
                        border: 1px solid #fff;
                        padding: 7px 20px;
                        border-radius: 5px;
                        transition: 0.3s ease;
                        &:hover {
                            background-color: #fff;
                            .blue {
                                display: block;
                                width: 28px;
                            }
                            .white {
                                display: none;
                            }
                            p {
                                color: $blue;
                            }
                        }
                        .blue {
                            display: none;
                        }
                        .white {
                            display: block;
                        }
                        img {
                            width: 30px;
                            margin-right: 20px;
                        }
                        p {
                            margin-bottom: 0;
                            line-height: 14px;
                            font-size: 13px;
                            max-width: 120px;
                            color: #fff;
                            font-weight: 600;
                            letter-spacing: 0.5px;
                        }
                    }
                    
                }
            }
            .col-pinkCard {
                padding: 0;
            }
            .pinkCard {
                background-color: $pinkDark;
                border-radius: 20px;
                padding: 15px;
                position: relative;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                .title {
                    font-size: 14px;
                    font-weight: 600;
                    color: white;
                    line-height: 17px;
                }
                .number {
                    text-align: center;
                    font-weight: 600;
                    color: white;
                    font-size: 70px;
                }
                .cta {
                    text-align: center;
                    position: relative;
                    z-index: 1;
                    a {
                        background-color: white;
                        display: inline-block;
                        padding: 10px 15px;
                        border-radius: 5px;
                        color: #000;
                        text-transform: uppercase;
                        font-size: 12px;
                        font-weight: 600;
                        letter-spacing: 0.5px;
                        border: 1px solid #fff;
                        transition: 0.3s ease;
                        &:hover {
                            background-color: inherit;
                            transition: 0.3s ease;
                            color: #fff;
                        }
                    }
                }
                .circle {
                    position: absolute;
                    top: 70px;
                    left: 10px;
                    width: 60px;
                }
                .vague {
                    position: absolute;
                    top: 20px;
                    right: -30px;
                    width: 110px;
                }
                .polygone {
                    position: absolute;
                    bottom: -20px;
                    left: -10px;
                    width: 90px;
                }
                .sphere {
                    position: absolute;
                    width: 60px;
                    bottom: 80px;
                    right: 0;
                }
            }
        }
        .myProjects {
            position: relative;
            margin-bottom: 50px;
            p {
                position: absolute;
                right: 15px;
                top: 63px;
                font-size: 13px;
                color: $grey;
                font-weight: 200;
                cursor: pointer;
            }
            h2 {
                font-size: 24px;
                margin-bottom: 30px;
            }
            table {
                background-color: #fff;
                border-radius: 20px;
                width: 100%;
                
                tr {
                    td {
                        font-size: 14px;
                        padding: 5px 0;
                        &:first-child {
                            padding-left: 20px;
                        }
                        &.state {
                            &::before {
                                content: "•";
                                padding-right: 5px;
                            }
                            &.valide {
                                &::before {
                                    color: green;
                                }
                            }
                            &.enCours {
                                &::before {
                                    color: orange;
                                }
                            }
                            &.wait {
                                &::before {
                                    color: purple;
                                }
                            }
                            &.modif {
                                &::before {
                                    color: red;
                                }
                            }
                        }
                    }
                    &.grey {
                        background-color: $blueLight
                    }
                }
                .title {
                    td {
                        font-weight: 600;
                        width: 30%;
                    }
                }
            }
        }
    }
    .secondColumn {
        h2 {
            font-size: 24px;
            margin-bottom: 30px;
        }
        .pourVous {
            margin-bottom: 52px;
            
            .col-yourCard {
                padding: 0 5px;
            }
            .yourCard {
                background-color: white;
                border-radius: 25px;
                padding: 15px;
                margin-bottom: 30px;
                height: 100%;
                .img {
                    background-color: $green;
                    border-radius: 20px;
                    position: relative;
                    height: 130px;
                    display: flex;
                    justify-content: center;
                    margin-bottom: 10px;
                    img {
                        width: 100px;
                    }
                    .save {
                        position: absolute;
                        right: 15px;
                        top: 12px;
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        .blackSave {
                            display: block;
                            background-color: white;
                            padding: 3px 6px;
                            border-radius: 6px;
                            margin-right: 5px;
                            width: 25px;
                        }
                        .whiteSave {
                            display: none;
                        }
                        .eye {
                            background-color: white;
                            padding: 7px 5px;
                            border-radius: 5px;
                            width: 25px;
                            cursor: pointer;
                        }
                        &.active {
                            .blackSave {
                                display: none;
                            }
                            .whiteSave {
                                display: block;
                                background-color: $blue;
                                padding: 3px 6px;
                                border-radius: 6px;
                                margin-right: 5px;
                                width: 25px;
                            }
                        }
                    }
                }
                h3 {
                    padding-left: 5px;
                    text-transform: uppercase;
                    font-size: 13px;
                    letter-spacing: 0.5px;
                    font-weight: 600;
                }
                p {
                    font-size: 13px;
                    padding-left: 5px;
                    letter-spacing: 0.25px;
                    line-height: 18px;
                    margin-bottom: 0;
                }
            }
        }
        .actus {
            .contentActu {
                .ownActu {
                    background-color: #fff;
                    padding: 10px;
                    margin-bottom: 14px;
                    display: flex;
                    align-items: center;
                    border-radius: 10px;
                    .carre {
                        width: 50px;
                        height: 50px;
                        border-radius: 10px;
                        margin-right: 20px;
                        &.green {
                            background-color: $greenDark;
                        }
                        &.yellow {
                            background-color: $yellow;
                        }
                        &.purple {
                            background-color: $purple;
                        }
                    }
                    .text {
                        h6 {
                            font-size: 14px;
                            font-weight: 600;
                            letter-spacing: 0.25px;
                            margin-bottom: 3px;
                        }
                        p {
                            font-size: 12px;
                            letter-spacing: 0.75px;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}

#yourProjects {
    background-color: $greyLight;
    padding-top: 110px;
    height: 100%;
    position: relative;
    .bgImg {
        position: absolute;
        bottom: 0;
        right: -100px;
        opacity: 0.2;
    }
    .contentProjects {
        padding-left: 50px;
        h1 {
            font-family: $font;
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 50px;
        }
        h2 {
            font-size: 22px;
            margin-bottom: 30px;

        }
        .col-contentProject {
            
            .columnProject {
                .first {
                    background-color: white;
                    padding: 20px;
                    border-radius: 10px;
                    margin-bottom: 15px;
                    .img {
                        background-color: $purple;
                        border-radius: 10px;
                        display: flex;
                        justify-content: center;
                        margin-bottom: 10px;
                        opacity: 0.7;
                        position: relative;
                        img {
                            opacity: 1;
                            width: 160px;
                        }
                        .pictos {
                            img:first-child {
                                position: absolute;
                                width: 18px;
                                right: 10px;
                                top: 10px;
                                background-color: #C4BCFF;
                                padding: 5px;
                                border-radius: 3px;
                                cursor: pointer;
                            }
                            img:last-child {
                                width: 18px;
                                position: absolute;
                                right: 10px;
                                top: 28px;
                                background-color: blue;
                                padding: 3px;
                                border-radius: 3px;
                                cursor: pointer;
                            }
                        }
                    }
                    .text {
                        h6 {
                            font-size: 14px;
                            font-weight: 600;
                            letter-spacing: 0.25px;
                            margin-bottom: 3px;
                        }
                        .date {
                            color: $grey;
                            font-size: 14px;
                            margin-bottom: 8px;
                        }
                        p {
                            font-size: 14px;
                            letter-spacing: 0.85px;
                        }
                        .button {
                            border: 1px solid rgba($color: #000000, $alpha: 0.4);
                            border-radius: 8px;
                            text-align: center;
                            text-transform: uppercase;
                            font-size: 14px;
                            padding: 5px;
                            color: rgba($color: #000000, $alpha: 0.7);
                            cursor: pointer;
                            transition: 0.3s ease;
                            &:hover {
                                border: 1px solid $purple;
                                color: #000;
                                background-color: $purple;
                                transition: 0.3s ease;
                            }
                        }
                    }
                }
                .second {
                    background-color: white;
                    padding: 20px;
                    border-radius: 12px;
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 15px;
                    .left {
                        display: flex;
                        align-items: center;
                        .carre {
                            width: 50px;
                            height: 50px;
                            border-radius: 10px;
                            margin-right: 20px;
                            background-color: $purple;
                        }
                        .text {

                            h6 {
                                font-size: 14px;
                                font-weight: 600;
                                letter-spacing: 0.25px;
                                margin-bottom: 3px;
                            }
                            p {
                                font-size: 13px;
                                color: $grey;
                                margin-bottom: 0;
                            }
                        }
                    }
                    .right {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        img {
                            background-color: $purple;
                            padding: 4px;
                            width: 18px;
                            border-radius: 3px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        .columnProject2 {
            .second {
                background-color: white;
                padding: 20px;
                border-radius: 10px;
                margin-bottom: 15px;
                .img {
                    background-color: $yellow;
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                    margin-bottom: 10px;
                    opacity: 0.7;
                    position: relative;
                    img {
                        opacity: 1;
                        width: 160px;
                    }
                    .pictos {
                        img:first-child {
                            position: absolute;
                            width: 18px;
                            right: 10px;
                            top: 10px;
                            background-color: #FFF9C5;
                            padding: 5px;
                            border-radius: 3px;
                            cursor: pointer;
                        }
                        img:last-child {
                            width: 18px;
                            position: absolute;
                            right: 10px;
                            top: 28px;
                            background-color: blue;
                            padding: 3px;
                            border-radius: 3px;
                            cursor: pointer;
                        }
                    }
                }
                .text {
                    h6 {
                        font-size: 14px;
                        font-weight: 600;
                        letter-spacing: 0.25px;
                        margin-bottom: 3px;
                    }
                    .date {
                        color: $grey;
                        font-size: 14px;
                        margin-bottom: 8px;
                    }
                    p {
                        font-size: 14px;
                        letter-spacing: 0.85px;
                    }
                    .button {
                        border: 1px solid rgba($color: #000000, $alpha: 0.4);
                        border-radius: 8px;
                        text-align: center;
                        text-transform: uppercase;
                        font-size: 14px;
                        padding: 5px;
                        color: rgba($color: #000000, $alpha: 0.7);
                        cursor: pointer;
                        transition: 0.3s ease;

                        &:hover {
                            border: 1px solid $yellow;
                            background-color: $yellow;
                            color: #000;
                            transition: 0.3s ease;
                        }
                    }
                }
            }
            .first {
                background-color: white;
                padding: 20px;
                border-radius: 12px;
                display: flex;
                justify-content: space-between;
                margin-bottom: 15px;
                .left {
                    display: flex;
                    align-items: center;
                    .carre {
                        width: 50px;
                        height: 50px;
                        border-radius: 10px;
                        margin-right: 20px;
                        background-color: $yellow
                    }
                    .text {

                        h6 {
                            font-size: 14px;
                            font-weight: 600;
                            letter-spacing: 0.25px;
                            margin-bottom: 3px;
                        }
                        p {
                            font-size: 13px;
                            color: $grey;
                            margin-bottom: 0;
                        }
                    }
                }
                .right {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    img {
                        background-color: $yellow;
                        padding: 4px;
                        width: 18px;
                        border-radius: 3px;
                        cursor: pointer;
                    }
                }
            }
        }
        .col-columnProject3 {
            h2 {
                font-weight: 600;
            }
        }
        
        .columnProject3 {
            .second {
                background-color: white;
                padding: 20px;
                border-radius: 10px;
                margin-bottom: 15px;
                .img {
                    background-color: $green;
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                    margin-bottom: 10px;
                    opacity: 0.7;
                    position: relative;
                    img {
                        opacity: 1;
                        width: 160px;
                    }
                    .pictos {
                        img:first-child {
                            position: absolute;
                            width: 18px;
                            right: 10px;
                            top: 10px;
                            background-color: #D1FFF0;
                            padding: 5px;
                            border-radius: 3px;
                            cursor: pointer;
                        }
                        img:last-child {
                            width: 18px;
                            position: absolute;
                            right: 10px;
                            top: 8px;
                            background-color: blue;
                            padding: 3px;
                            border-radius: 3px;
                            cursor: pointer;
                        }
                    }
                }
                .text {
                    h6 {
                        font-size: 14px;
                        font-weight: 600;
                        letter-spacing: 0.25px;
                        margin-bottom: 3px;
                    }
                    .date {
                        color: $grey;
                        font-size: 14px;
                        margin-bottom: 8px;
                    }
                    p {
                        font-size: 14px;
                        letter-spacing: 0.85px;
                    }
                    
                }
            }
            .first {
                background-color: white;
                padding: 20px;
                border-radius: 12px;
                display: flex;
                justify-content: space-between;
                margin-bottom: 15px;
                .left {
                    display: flex;
                    align-items: center;
                    .carre {
                        width: 50px;
                        height: 50px;
                        border-radius: 10px;
                        margin-right: 20px;
                        background-color: $green
                    }
                    .text {

                        h6 {
                            font-size: 14px;
                            font-weight: 600;
                            letter-spacing: 0.25px;
                            margin-bottom: 3px;
                        }
                        p {
                            font-size: 13px;
                            color: $grey;
                            margin-bottom: 0;
                        }
                    }
                }
                .right {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    img {
                        background-color: $green;
                        padding: 4px;
                        width: 18px;
                        border-radius: 3px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}